In [1]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("train.csv")

#Remove rows with missing data
df = df[df['MISSING_DATA'] == False]

In [3]:
from datetime import datetime
def parse_time(x):
    # We are using python's builtin datetime library
    # https://docs.python.org/3/library/datetime.html#datetime.date.fromtimestamp

    # Each x is essentially a 1 row, 1 column pandas Series
    dt = datetime.fromtimestamp(x["TIMESTAMP"])
    return dt.year, dt.month, dt.day, dt.hour, dt.weekday()

# Over every single 
def polyline_to_trip_duration(polyline):
    return max(polyline.count("[") - 2, 0) * 15

# This code creates a new column, "LEN", in our dataframe. The value is
# the (polyline_length - 1) * 15, where polyline_length = count("[") - 1
df["LEN"] = df["POLYLINE"].apply(polyline_to_trip_duration)
df[["YR", "MON", "DAY", "HR", "WK"]] = df[["TIMESTAMP"]].apply(parse_time, axis=1, result_type="expand")

In [4]:
s = pd.Series(list("ABC"))
t = pd.get_dummies(s)

def one_hot_encode(target_val):
    return t[target_val].values

In [5]:
df["CALL_TYPE"] = df["CALL_TYPE"].apply(one_hot_encode)
df["DAY_TYPE"] = df["DAY_TYPE"].apply(one_hot_encode)

In [ ]:
#Polyline (str type) to list
def polyline_to_list(polyline):
    all_pos = []
    polyline = polyline[1:len(polyline)-1].split('],[')[:-1]
    for pos in polyline:
        pos = pos.strip('[').strip(']').split(',')
        pos[0] = float(pos[0])
        pos[1] = float(pos[1])
        all_pos.append(pos)
    return all_pos

#takes too long
#df_tr["POLYLINE_LIST"] = df_tr["POLYLINE"].apply(polyline_to_list)

In [9]:
#Clean out unnecessary columns
df = df.drop(columns = ["MISSING_DATA", "POLYLINE"])

In [10]:
df.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,LEN,YR,MON,DAY,HR,WK
0,1372636858620000589,"[0, 0, 1]",NaN,NaN,20000589,1372636858,"[1, 0, 0]",330,2013,7,1,0,0
1,1372637303620000596,"[0, 1, 0]",NaN,7.0,20000596,1372637303,"[1, 0, 0]",270,2013,7,1,0,0
2,1372636951620000320,"[0, 0, 1]",NaN,NaN,20000320,1372636951,"[1, 0, 0]",960,2013,7,1,0,0
3,1372636854620000520,"[0, 0, 1]",NaN,NaN,20000520,1372636854,"[1, 0, 0]",630,2013,7,1,0,0
4,1372637091620000337,"[0, 0, 1]",NaN,NaN,20000337,1372637091,"[1, 0, 0]",420,2013,7,1,0,0