In [1]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("train.csv")

#Remove rows with missing data
df = df[df['MISSING_DATA'] == False]

In [3]:
from datetime import datetime
def parse_time(x):
    # We are using python's builtin datetime library
    # https://docs.python.org/3/library/datetime.html#datetime.date.fromtimestamp

    # Each x is essentially a 1 row, 1 column pandas Series
    dt = datetime.fromtimestamp(x["TIMESTAMP"])
    return dt.year, dt.month, dt.day, dt.hour, dt.weekday()

# Over every single 
def polyline_to_trip_duration(polyline):
    return max(polyline.count("[") - 2, 0) * 15

# This code creates a new column, "LEN", in our dataframe. The value is
# the (polyline_length - 1) * 15, where polyline_length = count("[") - 1
df["LEN"] = df["POLYLINE"].apply(polyline_to_trip_duration)
df[["YR", "MON", "DAY", "HR", "WK"]] = df[["TIMESTAMP"]].apply(parse_time, axis=1, result_type="expand")

In [4]:
#One hot encoding functions
def encode_a(val):
    return int(val == 'A')

def encode_b(val):
    return int(val == 'B')

def encode_c(val):
    return int(val == 'C')

def encode_year(val):
    return int(val == 2014)

In [6]:
#Actual one hot encoding
df["CALL_TYPE_A"] = df["CALL_TYPE"].apply(encode_a)
df["CALL_TYPE_B"] = df["CALL_TYPE"].apply(encode_b)
df["CALL_TYPE_C"] = df["CALL_TYPE"].apply(encode_c)

df["DAY_TYPE_A"] = df["DAY_TYPE"].apply(encode_a)
df["DAY_TYPE_B"] = df["DAY_TYPE"].apply(encode_b)
df["DAY_TYPE_C"] = df["DAY_TYPE"].apply(encode_c)

df["YR_2014"] = df["YR"].apply(encode_year)

In [7]:
#Polyline (str type) to list
def polyline_to_list(polyline):
    all_pos = []
    polyline = polyline[1:len(polyline)-1].split('],[')[:-1]
    for pos in polyline:
        pos = pos.strip('[').strip(']').split(',')
        pos[0] = float(pos[0])
        pos[1] = float(pos[1])
        all_pos.append(pos)
    return all_pos

#takes too long
#df_tr["POLYLINE_LIST"] = df_tr["POLYLINE"].apply(polyline_to_list)

In [8]:
#Clean out unnecessary columns
df = df.drop(columns = ["MISSING_DATA", "POLYLINE", "CALL_TYPE", "DAY_TYPE"])

In [9]:
df.head()

,TRIP_ID,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,LEN,YR,MON,DAY,HR,WK,CALL_TYPE_A,CALL_TYPE_B,CALL_TYPE_C,DAY_TYPE_A,DAY_TYPE_B,DAY_TYPE_C,YR_2014
0,1372636858620000589,NaN,NaN,20000589,1372636858,330,2013,7,1,0,0,0,0,1,1,0,0,0
1,1372637303620000596,NaN,7.0,20000596,1372637303,270,2013,7,1,0,0,0,1,0,1,0,0,0
2,1372636951620000320,NaN,NaN,20000320,1372636951,960,2013,7,1,0,0,0,0,1,1,0,0,0
3,1372636854620000520,NaN,NaN,20000520,1372636854,630,2013,7,1,0,0,0,0,1,1,0,0,0
4,1372637091620000337,NaN,NaN,20000337,1372637091,420,2013,7,1,0,0,0,0,1,1,0,0,0

In [10]:
df.to_csv("processed_train.csv")

In [ ]:
len(df)